 /*global*/
 li {
     cursor: pointer;
     display: inline;
 }
 .clearfix {
     clear: both;
 }
 body {
     /*Changed*/
     font-size: 16px;
     width: 100%;
     margin: 0 auto;
     background-size: cover;
     background-image: url("../assets/images/bg.png");
 }
 .wrapper {
     width: 100%;
     margin: 0 auto;
 }
  header img {
     display: block;
     width: 30%;
     margin: 5px auto;
 }

 /*Home*/
 .dealgame {
     width: 100%;
 }
 .submit-btn {
     background: none;
     border: 0;
     padding: 0;
     display: block;
     cursor: pointer;
     margin: 0 auto;
 }
 .invalid {
     margin: 0 auto;
     font-size: 2em;
     text-align: center;
     color: maroon;
 }
 /*Game Landing And Rounds*/
 .main {
     padding: 10% 10% 0;
 }
 .player {
     padding: 20px;
     width: 72%;
     border-radius: 15px;
     border: 3px solid black;
     margin: 2% 14%;
     background-color: #33b2ff;
     font-size: 1em;
     color: white;
     font-weight: bold;
 }
 .main a {
     margin-left: 37%;
 }
 .maincont {
     width: 100%;
 }
 .cases {
     width: 75%;
     margin: 1% auto;
 }
 .cases ul li {
     display: inline;
     font-size: 1.5em;
     text-align: center;
     vertical-align: middle;
 }
 /*changed*/
 
 .cases ul li:first-child,
 .cases ul li:nth-child(21) {
     margin-left: 10%;
 }
 .cases ul li:nth-child(6),
 .cases ul li:last-child {
     margin-right: 10%;
 }
.cases ul li:nth-child(7),
.cases ul li:nth-child(14) {
     margin-left: 5%;
 }
 .case1,.case2{
     display: inline-block;
     /*changed*/
     font-weight: bold;
     width: 11%;
     padding: 2% 0;
     margin: 10px;
 }
 .case1 {
     background: url("../assets/images/case.png") no-repeat;  
     background-size: 100% 100%;

 }

.case2 {
     background: url("../assets/images/case_to_open.png") no-repeat;
     background-size: 100% 100%;

 }
 footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     z-index: -1;
 }
 .case_info {
     float: left;
     margin: 2%;
 }
 .case_img {
     float: right;
     color: black;
     font-weight: bold;
     font-size: 1em;
     background: url("../assets/images/case.png") no-repeat;
     background-size: 100% 100%;
     padding: 8% 15%;
 }
 .player_name {
     width: 36%;
     margin: 0 0 0 30%;
     background-color: #f6ef25;
     font-size: 1.6em;
     font-weight: bold;
     text-align: center;
 }
 .rounds {
     width: 99%;
     margin: 0 auto;
     border: 4px solid yellow;
     float: left;
 }
 .your_case {
     border-right: 4px solid yellow;
     color: white;
     padding: 5px;
     width: 20%;
     float: left;
     font-size: 1.8em;
 }
 .money_btn {
     float: right;
 }
  @keyframes type {
     from {
         width: 0;
     }
     to {
         width: 520px;
     }
 }
 .selected {
     overflow: hidden;
     white-space: nowrap;
     animation: type 2s steps(600, end);
     color: white;
     display: block;
     float: left;
     margin: 10px 10px;
     font-size: 1.8em;
 }

 .caseselected {
     margin: 1% 0;
     overflow: hidden;
     white-space: nowrap;
     color: white;
     font-size: 1.5em;
     float: left;
 }
 .btnimg {
     float: right;
     cursor: pointer;
     margin: 3% 5% 0;
 }
 .money_board_left, .money_board_right{
     border: 5px solid yellow;
     position: absolute;
     top: 0;
     padding: 5px 0;

 }
 .money_board_left {
     left: 9px;
     float: left;
     width: 20%;
 }
 .money_board_right {
     right: 1%;
     float: right;
     width: 22%;
 }
 .inr {
     margin: 2% 2% 0;
     height: 1.2em;
     float: left;
 }
 .rupee {
     background: url(../assets/images/amountBg.png) no-repeat;
     background-size: cover;
     width: 100%;
     float: left;
     text-align: center;
 }
 .money_board_left .rupee_disabled,
 .money_board_right .rupee_disabled {
     background: url(../assets/images/amountOpenedBg.png) no-repeat;
     background-size: cover;
 }
 .money {
     float: right;
     font-size: 1.5em;
     font-weight: bold;
     margin: 0 22px 0 0;
 }

 /*Wimnnings*/
 .winnings {
     background: url('../assets/images/final_LabelBg.png') no-repeat;
     background-size: cover;
     width: 50%;
     padding: 15% 0 15%;
     margin: 50px auto;
 }
 .winnings p  {
     text-align: center;
     font-size: 1.8em;
     font-weight: bold;
 }
 .winnings-money {
     margin: 0 35% 0 30%;
 }
 .winnings img {
     float: left;
     margin: 10px 0;
 }
 .winnings1 h4 {
     text-align: left;
 }

 /*Bankers Offer*/
 .bankOffer button {
     cursor: pointer;
 }
 .bank-rupee{
     text-align: center;
}
.bank-rupee img{
     height: 1.5em;
}
.rupee-image-win{
     height: 1.5em;
}
 .bankOffer {
     border: 3px solid black;
     background-color: yellow;
     width: 40%;
     margin: 5% auto;
     border-radius: 25px;
 }
 .bankOffer p {
     font-weight: bold;
     color: blue;
     font-size: 1.8em;
     text-align: center;
     margin: 4% 0 0 0;
 }
 .offer{
     font-weight: bold;
     font-size: 2em;
     text-align: center;
     margin: 4% 0 0 0;
 }
 .takeDeal {
     margin: 0 20% 3%;
     background: none;
     border: none;
 }
 .takeDeal img {
     width: 86%;
 }
 .noDeal {
     margin: 0 20% 5%;
     background: none;
     border: none;
 }
 .noDeal img {
     width: 86%;
 }
 .case-open {
     padding: 7% 7%;
     margin: 3% 38%;
     font-size: 4em;
     text-align: center;
 }
 .case_open_status {
     background: url('../assets/images/case_open_status.png') no-repeat;
     background-size: cover;
     font-size: 2.3em;
     margin: 3% 0 0 32%;
     padding: 10% 0% 13%;
     width: 310px;
     color: white;
     font-weight: bold;
 }
 .rupee-image {
     height: .7em;
     padding: 0 10px;
 }
 .swapQues h1 {
     margin-top: 10%;
     font-size: 50px;
     font-weight: bold;
     text-align: center;
 }
 .swap-case {
     padding: 5%;
     margin: 2% 0 0 18%;
     font-size: 75px;
     text-align: center;
     cursor: pointer;
 }
 .text-center {
     text-align: center;
 }
 li span {
     float: right;
     cursor: pointer;
 }
 .fade {
     transition: 1s linear all;
     -webkit-transition: 1s linear all;
 }
 .fade.ng-enter {
     opacity: 0;
 }
 .fade.ng-enter.ng-enter-active {
     opacity: 1;
 }
 .fade.ng-leave {
     opacity: 1;
 }
 .fade.ng-leave.ng-leave-active {
     opacity: 0;
 }
 canvas {
     position: absolute;
     top: 0;
     left: 0;
 }
 /*/Media Queries*/
 @media (min-width: 400px) {
     body {
         font-size: 90%;
     }
 }
 @media (min-width: 800px) {
     body {
         font-size: 100%;
     }
     .case_open_status {
          width: 350px;     
     }
 }
 @media (min-width: 1100px) {
     body {
         font-size: 120%;
     }
     .case_open_status {
         width: 390px;
     }
 }
 @media (min-width: 1300px) {
     body {
         font-size: 130%;
     }

     .case_open_status {
         width: 430px;
     }
     .bankOffer button img {
         width: 100%;
     }
 }
 @media (min-width: 1500px) {
     body {
         font-size: 150%;
     }
     .case_open_status {
         width: 480px;
     }
     .bankOffer button img {
         width: 120%;
     }
 }
 @media (min-width: 1800px) {
     body {
         font-size: 180%;
     }
     
     .case_open_status {
         width: 570px;
     }
     .bankOffer button img {
         width: 130%;
     }
 }
@media (min-width: 2000px) {
     body{
          font-size: 200%;
     }
     .case_open_status {
         width: 640px;
     }
     .bankOffer button img {
         width: 150%;
     }
}

@media (min-width: 2500px) {
     body{
          font-size: 290%;
     }
     .case_open_status {
         width: 880px;
     }
     .bankOffer button img {
         width: 200%;
     }
}

