 li{
        cursor: pointer;
    }
		
.clearfix{
    clear: both;
}
body{
   /*Changed*/
   font-size: 16px;
    width:100%;
	margin:0 auto;
    background-size: cover;
    background-image:url("../assets/images/bg.png");\
    background-repeat: no-repeat;
}

#dealgame{
	width:100%;
}
#playG {
	width:36%;
}
#wrapper{
	width:100%;
	margin:0 auto;

}
header{
     margin: 0 auto;
    padding: 5px;

}
header img{
    display: block;
    margin: 0 auto;
}
.submit-btn{
    background: none;
    border:0;
    padding: 0;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
.invalid{
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    color: maroon;
}
#main {
	padding: 10% 10% 0;
     
}
#player {
	padding: 20px;
    width: 72%;
    border-radius: 15px;
    border: 3px solid black;
    margin: 2% 14%;
    background-color: #33b2ff;
    font-size: 1em;
    color:white;
    font-weight:bold;
}
#main a {
	    margin-left: 37%;
}
#maincont {
	width:100%;
	 min-height:430px;
}
#cases{
    width: 75%;
    margin: 4% auto;
}
#cases ul li{
    display: inline;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
}
/*changed*/
#cases ul li:first-child,#cases ul li:nth-child(21) {
    margin-left: 10%;
}
#cases ul li:nth-child(6),#cases ul li:last-child{
    margin-right: 20%;

}
#cases ul li:nth-child(7),#cases ul li:nth-child(14){
    margin-left: 3%;
}
.case1 {
    background: url("../assets/images/case.png") no-repeat;
    background-size: 100% 100%;
   
    display: inline-block;
    /*changed*/
    width:10.5%;
    padding: 2% 0;
    margin: 10px;
 }
footer{
 	position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
 }
 .case_info{
    float: left;
    margin: 3%;
 }
 #case_img{
    float: right;
    color: black;
    font-weight: bold;
    font-size: 2em;
    background: url("../assets/images/case.png") no-repeat;
    background-size: 100% 100%;
    padding: 8% 15%;
 }
#player_name {
	width:36%;
	margin: 1% 0 0 30%;
	background-color: #f6ef25;
	padding:5px;
}
#player_name h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
#rounds {
    width:99%;
	margin:0 auto;
   border:4px solid yellow;
   float:left;

}
#your_case {
	border-right:4px solid yellow;
    color:white;
    padding: 15px;
    width:20%;
    float:left;

}

#your,#case {
	font-size: 1.8em;
    width:26%;
   
}
#money_btn{
	float:right;
}
#clear{
     clear:both;
}
#selected{

        float: left;
    margin: 0 40px;
}
#selected h3,#selected h4{
    overflow: hidden;
    white-space: nowrap;
    animation: type 2s steps(600, end);
    color: white;
    display: block;
    font-size: 2.5em;
  
}
#selected h4{
    font-size: 2em;
}
@keyframes type{ 
  from { width: 0; }
  to {width: 500px;} 
} 
.caseselected {
    margin: 4%;
  overflow: hidden;
  white-space:nowrap;
  animation: type 2s steps(100, end); 
	color: white;
    font-size: 2.5em;
    float: left;
}
#btnimg {
	    float: right;
        cursor: pointer;
        margin: 3% 5% 0;
}

#money_board {
	border:5px solid yellow;
	position: absolute;
    top: 0;
    left: 9px;
	float: left;
    width: 20%;
    padding: 5px 0 5px 0;
}
#money_board_2 {
	border:5px solid yellow;
	position: absolute;
    top: 0;
    right: 1%;
	float: right;
    width: 22%;
    padding: 5px 0 5px 0;
    //display:none;
}
#inr {
	margin:7px;
	height:23px;
}

#rupee{
    background-size: cover;
	background-image: url(../assets/images/amountBg.png);
	background-repeat: no-repeat;
    width: 100%;
    float: left;
}
#money_board .rupee_disabled,#money_board_2 .rupee_disabled{
    background-image: url(../assets/images/amountOpenedBg.png);
}
#money {
	float:right;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 22px 0 0;
}
.winnings{
    background:url('../assets/images/final_LabelBg.png') no-repeat;
    background-size: 500px;
    width: 50%;
    padding: 15% 0 15%;
    margin: 50px auto;
}
.winnings h4{
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}
.winnings-money{
    margin: 0 35% 0 30%;
}
.winnings img{
     float: left;
    margin: 10px 0;

}
.winnings1 h4{
    text-align: left;
}
.bankOffer button{
        cursor: pointer;

}
    .bankOffer{
    
    border: 3px solid black;
    background-color: yellow;
    width:40%;
    margin: 15% auto;
    border-radius: 25px;
}
.bankOffer h2{
    font-weight: bold;
    color: blue;
    font-size: 1.8em;
    text-align: center;
    margin: 4% 0 0 0;
}

.takeDeal{

    margin: 0 20% 3%;
    background: none;
    border: none;
}
.takeDeal img{
    width: 86%;
}
.noDeal{
    margin: 0 20% 5%;
    background: none;
    border: none;
}
.noDeal img{
    width: 86%;
}
.rupee{
    text-align: center;
}
.rupee span{
    font-size: 3em;
    font-weight: bold;

}
.case-open{
     padding: 7% 7%;
    margin: 10% 38%;
    font-size: 4em;
    text-align: center;
}
.case_open_status{
    background: url('../assets/images/case_open_status.png') no-repeat;
    background-size: cover;
    font-size: 2.1em;
    margin: 8% 0 0 35%;
    padding: 10% 0%;
    width: 310px;
    color: white;
    font-weight: bold;
      
}
.rupee-image{
    width: 20px;
    padding: 0 10px;
}
.swapQues h1{
    margin-top: 10%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.swap-case{
        padding: 5%;
    margin: 2% 0 0 18%;
    font-size: 75px;
    text-align: center;
    cursor: pointer;
}
    li{
        cursor: pointer;
        display: inline;
           /*padding: 0 10px;*/
    }
.text-center {
  text-align: center;
}
li span {
  float: right;
  cursor: pointer;
}

.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 400px) {
    body { font-size:90%;}
}
@media (max-width: 800px) {
    body { font-size:100%;}
}
@media (min-width: 1100px) {
    body { font-size:120%;}
    .case_open_status{
        width: 340px;
    }
}      
@media (min-width: 1300px) {
    body { font-size:150%;}
    #inr,.rupee-image{
        height: 90%;
    }
    .case_open_status{
        width: 415px;
    }
} 
@media (min-width: 1500px) {
    body { font-size:190%;}
    #inr{
        height: 150%;
    }
    .rupee-image{
        height: 45px;
        width: 30px;
    }
    
    .case_open_status{
        width: 480px;
    }
} 
@media (min-width: 1800px) {
    body { font-size:240%;}
    #inr{
        margin-top: 4%;
    }
    .case_open_status{
        width: 650px;
    }
} 
