<div class="bankOffer" ng-hide="swapQuestion">
    <p>Banker's Offer</p>
    <div class="rupee">
        <img src="assets/images/inr.png" alt="rupaiya">
        <span class="offer">{{offer}}</span>
    </div>
    <button class="takeDeal" ng-click="deal()"><img src="assets/images/dealBtn.png" alt="deal">
    </button>
    <button ng-click="nodeal()" class="noDeal"><img src="assets/images/noDealBtn.png" alt="noDeal">
    </button>
</div>
<div class="swapQues" ng-show="swapQuestion">
    <p>SWAP?</p>
    <div class="case1 swap-case" ng-click="swap_question_answer(playerBox,swapBox)" ng-bind="playerBox">
        {{playerBox}}
    </div>
    <div class="case1 swap-case" ng-click="swap_question_answer(swapBox,playerBox)">
        {{swapBox}}
    </div>
</div>
