<div class="maincont">
    <div class="cases" ng-hide="caseOp">
        <ul>
            <li ng-repeat="box in boxes" class="fade" ng-click="box_chose(box)">
                <div class="case1">{{box}}</div>
            </li>
        </ul>
    </div>
    <div class="money_board_left" ng-hide="custom">
        <div class="rupee" ng-repeat="m in money_list_left" ng-class="{rupee_disabled: m.selected}">
            <img class="inr" src="assets/images/inr.png" alt="Ruppe Image">
            <span class="money">{{m.money}}</span>
        </div>
    </div>
    <div class="money_board_right" ng-hide="custom">
        <div class="rupee" ng-repeat="m in money_list_right" ng-class="{rupee_disabled: m.selected}" alt="Ruppe Image">
            <img class="inr" src="assets/images/inr.png">
            <span class="money">{{m.money | number:0}}</span>
        </div>
    </div>
    <div class="case-open case2 ng-enter" ng-class="{case_open_status:case_opened}" ng-show="caseOp">
 
            <img src="assets/images/inr_case_open_status.png" ng-show="case_opened" class="rupee-image" alt="Ruppe Image">{{box_opened|number:0}}   

    </div>
    <footer>
        <div class="player_name">
            <p>{{playerName}}</p>
        </div>

        <div class="rounds">
            <div class="your_case">
                <div class="case_info">
                    <p class="your">Your</p>
                    <p class="case">Case</p>
                </div>
                <div class="case_img">{{playerBox}}</div>
            </div>
            <div class="selected">
                <p>Round - {{round}}</p>
                <p>{{turnsLeft}} cases to be selected</p>
            </div>
            <span class="btnimg"><img src="assets/images/moneybtn.png" alt="money button" ng-click="show_board()">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </footer>
