<div class="maincont">
    <div class="cases">
        <ul>
            <li ng-repeat="box in boxes" ng-click="box_chose(box)">
                <div class="case1">{{box}}</div>
            </li>
        </ul>
    </div>
</div>
<footer>
    <div class="player_name">
        <p>{{playerName}}</p>
    </div>

    <div class="rounds">
        <div class="your_case">
            <div class="case_info">
                <p>Your</p>
                <p>Case</p>
            </div>
            <div class="case_img" ng-hide="showMsg">{{playerBox}}</div>
        </div>
        <div class="selected">
            <div class="caseselected" >{{bottomMessage}}</div>
        </div>
    </div>
    <div class="clearfix"></div>
</footer>
