<div class="winnings">
    <p>Congrats</p>
    <p>{{playerName}}</p>
    <p>You Win</p>
    <div class="winnings-money">
        <img src="assets/images/inr.png" class="rupee-image-win" alt="Rupee Image">
        <p>{{winnings}}</p>
    </div>
	<p ng-show="losses">You Lost</p>
    <div ng-show="losses" class="winnings1">
        
        <div class="winnings-money">
            <img src="assets/images/inr.png" class="rupee-image-win" alt="Rupee Image">
            <p>{{losses}}</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
    <script src="js/fireworks.js"></script>
